.app {
  min-height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/2492629.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.left-container{
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .left-container{
      min-height: 100px;
      align-items: center;
  }
}

